
  <!-- Footer Section -->
  <footer class="footer">
    <div class="container">
        <div class="row">
            <!-- Quick Links Section -->
            <div class="col-md-4">
                <h4>Quick Links</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Admissions</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">News</a></li>
                </ul>
            </div>
            <!-- Contact Us Section (Centered) -->
            <div class="col-md-4 text-center">
                <h4>Contact Us</h4>
                <address>
                    South Campus, IIT Mandi<br>
                    Kamand, Mandi, India<br>
                    Email: skillup@gmail.com<br>
                    Phone: +91 7677878773
                </address>
            </div>
            <!-- Social Media Links Section -->
            <div class="col-md-4">
                <h4>Follow Us</h4>
                <ul class="list-unstyled">
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Linked In</a></li>
              </ul>
            </div>
        </div>
    </div>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-fb3fM2qg2z5zXh9z0l/5THf5XE7w5KM6w5f5f5g5GJw5S9E5f5F5f5f5f5f5f5f5f5f5"></script>
  <script src="scripts.js"></script>
  <script>
    let subMenu = document.getElementById("subMenu");
    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }
  </script>
</body>
</html>
